

.bg-hero{
   background-image: url('../../public/hero/hero-bg.png');
}

.herolink{
   background-color: rgba(255,255,255, 0.4) !important;
}

.herolink:hover {
   background-color: rgba(255,255,255, 0.5) !important;
}